@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
--brand: #0ea5a4;
}

html {
  scroll-behavior: smooth;
}


/* Respect user's reduced motion preference */
@media (prefers-reduced-motion: reduce) {
  * {
  animation-duration: 1ms !important;
  transition-duration: 1ms !important;
  scroll-behavior: auto !important;
  }
}


/* @layer base {
  body {
    @apply antialiased text-gray-900 bg-white;
  }
} */